<div id="header">
  <div class="col-xs-6">
    <span id="logo">RainSong</span>
  </div>

  <div class="col-xs-6">
    <div class="top-nav-right" style="{{ logInButton }}">
      <form ng-submit="logIn()" class="right">
        <input ng-model="username" placeholder="Username" minlength="4" required />
        <input type="password" ng-model="password" placeholder="Password" minlength="6" required />
        <button>Login / Signup</button>
      </form>
    </div>

    <div class="top-nav-right" style="{{ logOutButton }}">
      <button ng-click="logOut()" class="right">Log Out</button>
      <a href="/#!/profile">
        <span class="right" id="currentUser">{{ currentUser }}</span>
      </a>
      <span class="right">{{ error }}</span>
    </div>
  </div>
</div>

<div ng-init="getWeatherGeoLocation()" class="container-fluid main-content" style="padding: 0; height: 93%">
  <div class="row-fluid" id="main-content">
    <div class="col-xs-9" style="padding: 0">
      <!--<div class="container-fluid" style="padding: 0">-->
        <div class="row-fluid" id="weather-search">
          <div class="col-xs-6 inherit">
            <img class="col-xs-1" id="weatherIcon" ng-src="{{icon}}"/>
            <span id="info">{{ weather }}<br></span><span id="info">{{ location }}</span>
          </div>

          <div>
            <span style="{{ showPlaylist }}">Current Playlist:<br>{{ currentPlaylist }} </span>
          </div>

          <div class="col-xs-6 inherit" id="search-bundle">

            <div class="mobile search dropdown">
            </div>

            <div class="vertical-align-parent inherit">

              <form ng-submit="getWeatherByInput()" id="manualSearch">
                <input ng-model="city" placeholder="Search by city" id="city-search" required />
                <button>Search</button>
              </form>
              <button ng-click="mic()" id="mic-button"><img id="mic" src="/assets/mic.png"></button>

            </div>

          </div>
          <div id="add" style='display: inline;'>
          <button ng-click="showAdd()">Add to playlist</button>
          <div id="savedList" style="{{ add }}">
            <div ng-repeat="item in savedPlaylists track by $index">
              <div id="select" ng-click="addToPlaylist()">
                <span>{{ item }}</span>
              </div>
            </div>
          </div>
        </div>
          <div id="add" style='display: inline;'>
          <button ng-click="showRemove()">Remove from playlist</button>
          <div id="savedList" style="{{ remove }}">
            <div ng-repeat="item in savedPlaylists track by $index">
              <div id="select" ng-click="removeFromPlaylist()">
                <span>{{ item }}</span>
              </div>
            </div>
          </div>
        </div>

      <!--</div>-->

      <div class="row-fluid">
        <div class="iframe-ar">
          <iframe src="{{ data }}" allowfullscreen="true"></iframe>
        </div>
      </div>

      <div class="row-fluid comment-box">
        <!--<div class="col-xs-6">-->

          <div>
            <form ng-Submit="postComment()" id="comment_form">
              <input contenteditable="" ng-model="commentInput" rows="8" name="comment" id="comment" placeholder="Comment" maxlength="300" required aria-multiline="true" rows='1' />
              <input type="submit" name="submit" value="Add Comment">
            </form>
          </div>
        <div id="comments">
          <span id="CommentsHeader">Comments:</span>
          <span class="comment" ng-repeat="comment in comments">
            <p>
              <span>{{ comment.userName }}:</span>
              <span>{{ comment.text }}</span>
            </p>
          </span>
        </div>
      </div>
    </div>

    <div id="playList" class="col-xs-3">
      <button ng-click="show()" ng-click="display('list')" id="saved" style="{{ save }}">Saved playlists</button>
      <button ng-click="display('store')" id="save" style="{{ save }}">New playlist</button>
      <form style="{{ store }}" ng-Submit="newPlaylist()">
        <input ng-model="playlistName" id="listTitle" placeholder="Name the playlist!" maxlength="12" required></input>
        <button id="check">&#10003;</button>
      </form><br>

      <div id="savedList" style="{{ list }}">
        <div ng-repeat="item in savedPlaylists track by $index">
          <div id="select" ng-click="usePlaylist(item)">
            <span>{{ item }}</span>
          </div>
        </div>
      </div>

      <div class="item" ng-Repeat="item in playlist track by $index">
        <div class="row-fluid" ng-Click="playlistClick(item, playlist)">
          <div class="col-xs-12 playlist-item" style="padding: 3%;">
            <img id="thumb" src="{{ item.snippet.thumbnails.default.url }}" style="padding-right: 3%; margin-top: -4%;" />
            <span>
              {{ item.snippet.title }}
            </span>
            <!--{{ item.snippet.title }}-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
