<div id="header">
  <div class="col-xs-6">
    <img id="logoImage" src="/assets/cloudLogo.png" >
    <span id="logo">RainSong</span>
  </div>

  <div class="col-xs-6">
    <div class="top-nav-right" style="{{ logInButton }}">
      <form ng-submit="logIn()" class="right">
        <input ng-model="username" placeholder="Username" minlength="4" required />
        <input type="password" ng-model="password" placeholder="Password" minlength="6" required />
        <button>Login / Signup</button>
      </form>
    </div>

    <div class="top-nav-right" style="{{ logOutButton }}">
      <button ng-click="route('/')" class="right back-to-rainy-songs">Back to rainy songs</button>
      <button ng-click="logOut()" class="right">Log Out</button>
      <span class="right" id="currentUser">{{ currentUser }}</span>
      <span class="right">{{ error }}</span>
    </div>
  </div>
</div>

<div class="col-xs-9 profile profile-content">
  <h1>LOOK AT ALL THE COOL PLAYLISTS YOU MADE, SON!</h1>
  <ul ng-repeat="playlist in playlists track by $index">
    <li>
      <h3>{{ playlist.name }}</h2>
      <ul ng-repeat="comment in playlist.comments track by $index">
        <li>{{ comment.text }}</li>
      </ul>
    </li>
  </ul>
</div>
<div class="col-xs-3 profile profile-actions">
  <div>
    <h4>Change password</h4>
    <form action="#">
      <label for="old-password">Old password</label>
      <input type="password" id="old-password">
      <label for="new-password">New password</label>
      <input type="password" id="new-password">
      <input type="submit">
    </form>
  </div>
  <div>
    <h4>Delete account</h4>
    <button ng-click="logOut(); deleteUser(username)">Don't leave me :(</button>
  </div>
</div>
<pre>{{playlists}}</pre>